<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">*必填</small>
      </div>
      <h1 class="text-center mt-3">設定新密碼</h1>
      {{> message}}
      <form action="/users/new-password" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="passwordToken" value="{{passwordToken}}">
        <div class="mb-3">
          <div class="mb-3">
            <label for="password" class="mb-2">新密碼 *</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
              pattern="^\S{8,12}$" required>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="mb-2">密碼確認 *</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
              placeholder="Confirm Password" pattern="^\S{8,12}$" required>
          </div>
          <div class="d-grid col-2 mx-auto">
            <button type="submit" class="btn btn-primary btn-block">更改密碼</button>
          </div>
      </form>
    </div>
  </div>
</div>