.submit-button {
  display: flex;
  justify-content: center;
}

#log-out :hover {
  color: whitesmoke;
}

.logout-button {
  border-radius: 25%;
  padding: 0 30px;
  font-size: large;
}

#type-radio input[type="radio"] {
  display: none;
}

#type-radio input:checked+.button {
  background: #5e7380;
  color: #fff;
  cursor: default;
}

#type-radio .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #333;
  cursor: pointer;
}

#type-radio .button:hover {
  background: #bbb;
  color: #fff;
}

#type-radio .round {
  border-radius: 5px;
}